{
	"src/**/!(**/templates/**/*)*.js": [
		"eslint --*fix"
	],
	"__test__/**/!(**/templates/**/*)*.js": [
		"eslint --fix"
	],
	"!(**/templates/**/*){*.json,.eslintrc,.prettierrc,.markdownlint,.lintstagedrc}": [
		"jsonlint -i -p"
	],
	"!(**/templates/**/*)*.jsonc": [
		"prettier --write --parser=json"
	],
	"*.md": [
		"markdownlint --fix -c .markdownlint.jsonc"
	]
}
